In [1]:
# [+] SparkSession 설정
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('udf').getOrCreate()

In [5]:
age_category = [
    ('김정현', 22),
    ('진용훈', 30),
    ('손동주', 25),
    ('김민재', 21),
    ('맹서희', 22),
    ('맹서진', 19),
    ('김예진', 22),
    ('유예원', 22),
    ('유시원', 15),
]

In [6]:
# [+] 스키마 정의
schema = ['name', 'age']

In [7]:
# [+] 데이터프레임 생성
df = spark.createDataFrame(age_category, schema)

In [8]:
# [+] 데이터프레임 출력
df.show()

+------+---+
|  name|age|
+------+---+
|김정현| 22|
|진용훈| 30|
|손동주| 25|
|김민재| 21|
|맹서희| 22|
|맹서진| 19|
|김예진| 22|
|유예원| 22|
|유시원| 15|
+------+---+

In [9]:
# [+] 데이터프레임 스키마 출력
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [10]:
# [+] Temporary View 생성
df.createOrReplaceTempView('category')

In [13]:
# SQL문처리
spark.sql(
    "SELECT name, age \
     FROM category").show()

+------+---+
|  name|age|
+------+---+
|김정현| 22|
|진용훈| 30|
|손동주| 25|
|김민재| 21|
|맹서희| 22|
|맹서진| 19|
|김예진| 22|
|유예원| 22|
|유시원| 15|
+------+---+